@import "../current/theme/waybar.css";

* {
	border: none;
	border-radius: 0px;
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 13px;
	min-height: 10px;
}

window#waybar {
	background: @bar-bg;
}

#workspaces button {
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 9px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 0px;
	color: @main-fg;
	animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
	background: @wb-act-bg;
	color: @wb-act-fg;
	margin-left: 3px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 3px;
	animation: ws_active 20s ease-in-out 1;
	transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
	background: @wb-hvr-bg;
	color: @wb-hvr-fg;
	animation: ws_hover 20s ease-in-out 1;
	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#bluetooth,
#clock,
#language,
#pulseaudio,
#workspaces,
#custom-power,
#custom-temperature,
#mpris,
#tray,
#temperature,
#custom-spotify,
#custom-l_end,
#custom-r_end {
	color: @main-fg;
	background: @main-bg;
	opacity: 1;
	margin: 4px 0px 4px 0px;
	padding-left: 4px;
	padding-right: 4px;
}

#workspaces {
	padding: 0px;
}

#custom-r_end {
	border-radius: 0px 21px 21px 0px;
	margin-right: 9px;
	padding-right: 3px;
}

#custom-l_end {
	border-radius: 21px 0px 0px 21px;
	margin-left: 9px;
	padding-left: 3px;
}
